/* 08 - token */
.token{
.card-title {
	color: $base-color;
	font-weight: 700;
}
	dl{border-left: solid 3px #293388;}
	.percentageBar1 {width: 54px; height: 10px; background: #007BC7;}
	.percentageBar2 {width: 60px; height: 10px; background: #63FBD3;}
	.percentageBar3 {width: 60px; height: 10px; background: #00BDDA;}
	.percentageBar4 {width: 126px; height: 10px; background: #293388;}
}

